In [1]:
from mud import MUDIndexerSDK
from IPython.display import display

/Users/nico/.virtualenvs/woww/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [2]:
indexer_url = "https://indexer.mud.garnetchain.com/q"
world_address = "0x0209FE2b6C1a2B8cE12D8d9D6cf2D78a3Ff324FE"
mud_config_path = "./cafecosmos-contracts/mud.config.ts"

sdk = MUDIndexerSDK(indexer_url=indexer_url,
                    world_address=world_address,
                    mud_config_path=mud_config_path)

In [3]:
sdk.tables.LandInfo.get()

[{'landid': '1',
  'limitx': '10',
  'limity': '10',
  'activetables': '1',
  'activestoves': '1',
  'isinitialized': True,
  'seed': '165609701',
  'tokenbalance': '0',
  'cumulativexp': '50',
  'lastlevelclaimed': '4',
  'ybound': ['10', '10', '10', '10', '10', '10', '10', '10', '10', '10']},
 {'landid': '2',
  'limitx': '10',
  'limity': '10',
  'activetables': '0',
  'activestoves': '0',
  'isinitialized': True,
  'seed': '161825528',
  'tokenbalance': '0',
  'cumulativexp': '99',
  'lastlevelclaimed': '8',
  'ybound': ['10', '10', '10', '10', '10', '10', '10', '10', '10', '10']},
 {'landid': '3',
  'limitx': '10',
  'limity': '10',
  'activetables': '0',
  'activestoves': '0',
  'isinitialized': True,
  'seed': '1012917189',
  'tokenbalance': '0',
  'cumulativexp': '8',
  'lastlevelclaimed': '1',
  'ybound': ['10', '10', '10', '10', '10', '10', '10', '10', '10', '10']},
 {'landid': '4',
  'limitx': '10',
  'limity': '10',
  'activetables': '1',
  'activestoves': '0',
  'isinitialized': True,
  'seed': '1646570487',
  'tokenbalance': '0',
  'cumulativexp': '75',
  'lastlevelclaimed': '6',
  'ybound': ['10', '10', '10', '10', '10', '10', '10', '10', '10', '10']},
 {'landid': '5',
  'limitx': '10',
  'limity': '10',
  'activetables': '0',
  'activestoves': '0',
  'isinitialized': True,
  'seed': '738061375',
  'tokenbalance': '0',
  'cumulativexp': '391',
  'lastlevelclaimed': '20',
  'ybound': ['10', '10', '10', '10', '10', '10', '10', '10', '10', '10']},
 {'landid': '6',
  'limitx': '10',
  'limity': '10',
  'activetables': '1',
  'activestoves': '0',
  'isinitialized': True,
  'seed': '375791210',
  'tokenbalance': '0',
  'cumulativexp': '143',
  'lastlevelclaimed': '11',
  'ybound': ['10', '10', '10', '10', '10', '10', '10', '10', '10', '10']},
 {'landid': '7',
  'limitx': '10',
  'limity': '10',
  'activetables': '0',
  'activestoves': '0',
  'isinitialized': True,
  'seed': '1303360819',
  'tokenbalance': '0',
  'cumulativexp': '108',
  'lastlevelclaimed': '8',
  'ybound': ['10', '10', '10', '10', '10', '10', '10', '10', '10', '10']}]

In [4]:
table_dataframes: dict = sdk.dl_tables_as_dataframes()

INFO:root:Downloading table: CraftingRecipe
INFO:root:Downloading table: ActiveStoves
INFO:root:Downloading table: StackableItem
INFO:root:Downloading table: ItemInfo
ERROR:root:Failed to download table ItemInfo: Request failed with status 500: {"msg":"server error"}
INFO:root:Downloading table: Inventory
INFO:root:Downloading table: LandInfo
INFO:root:Downloading table: LandItemCookingState
ERROR:root:Failed to download table LandItemCookingState: Request failed with status 500: {"msg":"server error"}
INFO:root:Downloading table: LandTablesAndChairs
ERROR:root:Failed to download table LandTablesAndChairs: Request failed with status 500: {"msg":"server error"}
INFO:root:Downloading table: LandItem
INFO:root:Downloading table: LandPermissions
WARNING:root:No data found for table LandPermissions.
INFO:root:Downloading table: LandCell
INFO:root:Downloading table: TransformationCategories
ERROR:root:Failed to download table TransformationCategories: Request failed with status 500: {"msg":"server error"}
INFO:root:Downloading table: Transformations
INFO:root:Downloading table: LevelReward
INFO:root:Downloading table: ClaimedLevels
INFO:root:Downloading table: RewardCollection
INFO:root:Downloading table: QuestCollection
INFO:root:Downloading table: Reward
INFO:root:Downloading table: QuestGroup
INFO:root:Downloading table: Quest
INFO:root:Downloading table: QuestTask
INFO:root:Downloading table: LandQuestGroups
INFO:root:Downloading table: LandQuestTaskProgress
ERROR:root:Failed to download table LandQuestTaskProgress: Request failed with status 500: {"msg":"server error"}
INFO:root:Downloading table: LandQuestGroup
INFO:root:Downloading table: LandQuest
INFO:root:Downloading table: Catalogue
ERROR:root:Failed to download table Catalogue: Request failed with status 400: {"msg":"schemas not found"}
INFO:root:Downloading table: CatalogueItem
INFO:root:Downloading table: GuildExists
ERROR:root:Failed to download table GuildExists: Request failed with status 400: {"msg":"schemas not found"}
INFO:root:Downloading table: GuildInvitation
WARNING:root:No data found for table GuildInvitation.
INFO:root:Downloading table: MarketplaceListings
ERROR:root:Failed to download table MarketplaceListings: Request failed with status 500: {"msg":"server error"}
INFO:root:Downloading table: PlayerGuild
ERROR:root:Failed to download table PlayerGuild: Request failed with status 400: {"msg":"schemas not found"}
INFO:root:Downloading table: PlayerTotalEarned
ERROR:root:Failed to download table PlayerTotalEarned: Request failed with status 500: {"msg":"server error"}

In [5]:
print(table_dataframes["CraftingRecipe"].head())

  output outputquantity xp  exists        inputs quantities
0      5              1  1    True         [128]        [1]
1     26              1  1    True  [28, 21, 19]  [4, 4, 1]
2     27              1  1    True          [20]        [1]
3     28              1  1    True          [21]        [2]
4     29              1  1    True      [19, 20]     [4, 1]

In [6]:
print(table_dataframes["LandInfo"].head())

  landid limitx limity activetables activestoves  isinitialized        seed  \
0      1     10     10            1            1           True   165609701
1      2     10     10            0            0           True   161825528
2      3     10     10            0            0           True  1012917189
3      4     10     10            1            0           True  1646570487
4      5     10     10            0            0           True   738061375

  tokenbalance cumulativexp lastlevelclaimed  \
0            0           50                4
1            0           99                8
2            0            8                1
3            0           75                6
4            0          391               20

                                     ybound
0  [10, 10, 10, 10, 10, 10, 10, 10, 10, 10]
1  [10, 10, 10, 10, 10, 10, 10, 10, 10, 10]
2  [10, 10, 10, 10, 10, 10, 10, 10, 10, 10]
3  [10, 10, 10, 10, 10, 10, 10, 10, 10, 10]
4  [10, 10, 10, 10, 10, 10, 10, 10, 10, 10]

In [7]:
display(table_dataframes["LandInfo"])

,landid,limitx,limity,activetables,activestoves,isinitialized,seed,tokenbalance,cumulativexp,lastlevelclaimed,ybound
0,1,10,10,1,1,True,165609701,0,50,4,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]"
1,2,10,10,0,0,True,161825528,0,99,8,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]"
2,3,10,10,0,0,True,1012917189,0,8,1,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]"
3,4,10,10,1,0,True,1646570487,0,75,6,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]"
4,5,10,10,0,0,True,738061375,0,391,20,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]"
5,6,10,10,1,0,True,375791210,0,143,11,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]"
6,7,10,10,0,0,True,1303360819,0,108,8,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]"

In [9]:
table_dataframes["LandInfo"]

,landid,limitx,limity,activetables,activestoves,isinitialized,seed,tokenbalance,cumulativexp,lastlevelclaimed,ybound
0,1,10,10,1,1,True,165609701,0,50,4,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]"
1,2,10,10,0,0,True,161825528,0,99,8,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]"
2,3,10,10,0,0,True,1012917189,0,8,1,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]"
3,4,10,10,1,0,True,1646570487,0,75,6,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]"
4,5,10,10,0,0,True,738061375,0,391,20,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]"
5,6,10,10,1,0,True,375791210,0,143,11,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]"
6,7,10,10,0,0,True,1303360819,0,108,8,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]"

In [3]:
sdk.tables.LandInfo.to_dataframe()

,landid,limitx,limity,activetables,activestoves,isinitialized,seed,tokenbalance,cumulativexp,lastlevelclaimed,ybound
0,1,10,10,1,1,True,165609701,0,50,4,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]"
1,2,10,10,0,0,True,161825528,0,99,8,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]"
2,3,10,10,0,0,True,1012917189,0,8,1,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]"
3,4,10,10,1,0,True,1646570487,0,75,6,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]"
4,5,10,10,0,0,True,738061375,0,391,20,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]"
5,6,10,10,1,0,True,375791210,0,143,11,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]"
6,7,10,10,0,0,True,1303360819,0,108,8,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]"